<template>
    <div>
        <p>Department - AddComponent</p>

        <div v-if="message" class="alert alert-danger">
            {{message}}
        </div>

        <form @submit.prevent="onSubmit($event)">
            <div class="form-group">
                <label for="department_name">Name</label>
                <input class="form-control" id="department_name" v-model="department.name" />
            </div>
            <div class="form-group">
                <button type="submit" :disabled="saving">
                    {{saving?'Creating...':'Create'}}
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import api from '../../../assets/js/api/departments';
    export default {
        data(){
            return{
                saving:false,
                message:false,
                department:{
                    name:'',
                }
            }
        },
        methods:{
            onSubmit(event){
                this.saving=true;
                this.message=false;
                api.create(this.department).then((response)=>{
                    this.$router.push({name:'department-update',params:{id:response.data.data.id}});
                }).catch((e)=>{
                    this.message=e.response.data.message || 'Departman oluşturulurken bir sorunla karşılaşıldı.';
                }).then(()=>this.saving=false)
            }
        }
    }
</script>

