<template>
    <div class="departments">
        <p>Department - List Component</p>

        <div v-if="error" class="error">
           <p>{{error}}</p>
            <p>
                <button @click.prevent="getDepartments">
                    Tekrar Dene
                </button>
            </p>
        </div>

        <div class="alert alert-success" v-if="message!=null">{{message}}</div>
        <div v-if="departments">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in departments">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td></td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">View</button>
                            <router-link :to="{name:'department-update',params:{id:item.id}}" tag="button" class="btn btn-success">Update</router-link>
                            <button :disabled="saving" @click.prevent="onDelete(item.id)" type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--paginate-->
            <div class="pagination">
                <button :disabled="! prevPage" @click.prevent="goToPrev">Previous</button>
                {{paginationCount}}
                <button :disabled="! nextPage" @click.prevent="goToNext">Next</button>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../../../assets/js/api/departments';

    const getDepartments=(page,callback)=>{
        const params={page};

        api.all(params).then(response=>{
            callback(null,response.data);
        }).catch(error=>{
            callback(error, error.response.data);
        });
    };

    export default {
        data(){
            return{
                message:null,
                saving:false,
                departments:null,
                meta:null,
                links:{
                  first:null,
                  last:null,
                  next:null,
                  prev:null,
                },
                error:null,
            }
        },
        computed:{
          nextPage(){
              if(!this.meta|| this.meta.current_page===this.meta.last_page){
                  return;
              }
              return this.meta.current_page+1;
          },
            prevPage(){
              if(!this.meta||this.meta.current_page===1){
                  return;
              }
              return this.meta.current_page-1;
            },
            paginationCount(){
              if(!this.meta){
                  return;
              }
              const {current_page,last_page}=this.meta;
              return current_page+' of '+last_page;
            },
        },
        beforeRouteEnter(to,from,next){
          getDepartments(to.query.page, (err,data)=>{
              next(vm=>vm.setData(err,data));
          });
        },
        beforeRouteUpdate(to,from,next){
            this.departments=this.links=this.meta=null;
          getDepartments(to.query.page,(err,data)=>{
              this.setData(err,data);
              next();
          });
        },
        methods:{
            goToNext(){
                this.$router.push({
                    query:{
                        page:this.nextPage,
                    },
                });
            },
            goToPrev(){
                this.$router.push({
                    name:'department-list',
                    query:{
                        page:this.prevPage,
                    }
                });
            },
            setData(err,{data:departments,links, meta}){
                if(err){
                    this.error=err.toString();
                }else{
                    this.departments=departments;
                    this.links=links;
                    this.meta=meta;
                }
            },
            onDelete(id){
              this.saving=true;
              api.delete(id).then((response)=>{
                  this.message="Department Deleted";
                  setTimeout(()=> location.reload(),2000);
              })
            },
        }
    }

</script>
