<template>
    <div>
        <p>Department - Update Component</p>

        <div v-if="message" class="alert alert-success">{{message}}</div>
        <div v-if="! loaded">Yükleniyor...</div>
        <form @submit.prevent="onSubmit($event)" v-else>
            <div class="form-group">
                <label>Name</label>
                <input type="text" id="department_name" class="form-control" v-model="department.name"/>
            </div>
            <div class="form-group">
                <button type="submit" :disabled="saving">Update</button>
            </div>
        </form>
    </div>
</template>

<script>
    import api from '../../../assets/js/api/departments';
    export default {
        data(){
            return{
                loaded:false,
                saving:false,
                message:null,
                department:{
                    id:null,
                    name:""
                }
            };
        },
        methods:{
            onSubmit(event){
                this.saving=true;

                api.update(this.department.id,{
                    name:this.department.name
                }).then((response)=>{
                    this.message="Department Updated";
                    setTimeout(()=>this.message=null,4000);
                    this.department=response.data.data;
                }).catch(error=>{
                    console.log(error)
                }).then(() =>this.saving=false);
            },
        },
        created() {
            api.find(this.$route.params.id).then((response)=>{
                    this.loaded=true;
                    this.department=response.data.data;
            }).catch((err)=>{
                this.$router.push({name:'404'});
            });
        }
    }
</script>

