<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Trial - Company Structure</h1>
            </div>
        </div>
        <div class="row">
            <div class="btn-group col-md-4" role="group" aria-label="Basic example">
                <router-link :to="{name:'department-list'}" tag="button" class="btn btn-secondary">Department List</router-link>
                <router-link :to="{name:'department-add'}" tag="button" class="btn btn-secondary">Department Add</router-link>
            </div>
            <div class="btn-group col-md-4" role="group" aria-label="Basic example">
                <router-link :to="{name:'employee-list'}" tag="button" class="btn btn-secondary">Employee List</router-link>
                <router-link :to="{name:'employee-add'}" tag="button" class="btn btn-secondary">Employee Add</router-link>
            </div>
            <div class="btn-group col-md-4" role="group" aria-label="Basic example">
                <router-link :to="{name:'position-list'}" tag="button" class="btn btn-secondary">Position List</router-link>
                <router-link :to="{name:'position-add'}" tag="button" class="btn btn-secondary">Position Add</router-link>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>

